* {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../img/sfondo.png);
  width: 200%;
  min-width: 300px;
  max-width: 500px;
  display: inline;
}
header a:link,
header a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

header,
main,
footer {
  box-shadow: -2px 2px 1px #8e8e8e;
  padding-top: 2em;
  padding-bottom: 2em;
}
header {
  background-image: linear-gradient(180deg, #0099cc, #006688);
  margin: 1em;
  padding: 2em;
  text-align: center;
  color: #ffffff;
}

main {
  background-color: #ffffff;
  margin: 1em;
  margin-top: 2em;
  padding: 2em;
}

nav a {
  display: block;
  text-align: center;
}
ul span {
  background-color: #e6dfe0;
  border-radius: 8px;
  border: solid #8e8e8e;
}
.imp {
  color: purple;
}

table {
  width: 100%;
  font-size: larger;
  border: 0em;
}
th {
  color: white;
  font-weight: lighter;
}
td {
  border-collapse: collapse;
  border: 0em;
}
tr:nth-child(2n + 1) {
  background-color: #eee;
  border-top: solid;
  border-bottom: solid;
  border-spacing: 0;
}
tr:nth-child(2n + 1) td {
  border-color: #eee;
}
th {
  background-color: #4968bb;
}
iframe {
  border-radius: 10px;
  margin-top: 2em;
}
.newsletter {
  background-color: #e6dfe0;
  padding: 1em;
}
.newsletter h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
}
form {
  margin-top: 1em;
}
form input {
  width: 70%;
  height: 3em;
}
form button {
  height: 3em;
  width: 25%;
  background-color: #256cc3;
  color: white;
  font-weight: bold;
}
.art_corr {
  text-align: center;
  font-weight: lighter;
  font-size: 1.6em;
}
.related_art div {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e6dfe0;
  padding: 1em;
}
.category::before {
  content: "\f02c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.date {
  text-align: right;
}
.date::before {
  content: "\f073";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
footer {
  background-image: linear-gradient(180deg, #006688, #0099cc);
  margin: 1em;
  padding: 2em;
  text-align: center;
  color: #ffffff;
}
